
#bubble-container {
	position: relative;
	width: 100%;
	
	
	z-index:999999;
}

.bubbles {
	position: absolute;
	bottom: 0px; /* Start off screen */
	font-size: 2rem; /* Smaller bubbles */
	animation: floatUp 6.9s linear infinite;
	cursor: pointer;
}

@keyframes floatUp {
	0% {
		transform: translate(0, 0);
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		transform: translate(0, -120vh)
			translateX(calc(-50vw + 100vw * var(--randomX)));
		opacity: 0;
	}
}

.bubble-pop {
	animation: pop 0.5s forwards;
}

@keyframes pop {
	50% {
		transform: scale(1.2);
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

#score-counter {
	position: absolute;
	top: 10px;
	right: 10px;
	font-family: "Montserrat", sans-serif;
	font-size: 1.5rem;
	z-index: 1000; /* Ensures it stays in front */
	color: #fff; /* Adjust color as needed */
}